<%- include("partials/header") -%>


<div class="main">
    <h1><%=data.eventName%></h1>
    <img class="event-img" src="<%=data.eventPosterURL%>" alt="">
    <p><%=data.eventDescription%></p>
    <a href='/event/<%=data.route%>/app'><button href=>Continue with app</button></a>
    <a href='/event/<%=data.route%>/form'><button href=>Continue with web</button></a>
</div>


<%- include("partials/footer") -%>