<%- include("partials/header") -%>

    <div class="evnt-card">
        <div class="envt-img-container">
            <img class="evnt-img" src="<%=data.eventPosterURL%>" alt=""/>
        </div>
        <div class="evnt-body d-flex justify-content-around flex-column">
            <div>
                <h1 class="evnt-title"><%=data.eventName%></h1>
                <br>
                <div class="date-time"> <%= data.eventCreationTimestamp.toString()%></div>
            </div>
            <div class="evnt-btn d-flex justify-content-around">
                <button class="btn btn-outline-primary btn-lg" onclick="window.location='<%=data.route%>/app'">Register with app</button>
                <button class="btn btn-outline-danger btn-lg" onclick="window.location='<%=data.route%>/form'">Register with web</button>
            </div>
            <p class="evnt-text"> <%=data.eventDescription%></p>
        </div>
    </div>

<%- include("partials/footer") -%>

